/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/*Variables.css*/
html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* CSS Variables */

:root {
  --primary-color: #4458dc;
  --primary-color2: #854fee;
  --title-color: #141313;
  --text-color: #777777;
  --border-color: #201f1f17;
  --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  --social-media: linear-gradient(90deg, #de3217 0%, #3a8326 100%);

  /* font family variables. */
  --roboto: "Roboto";
}

/*End variabl.css*/

/*Global CSS*/
/* Global Classes */

.title-text {
  font: normal bold 50px/ 72px var(--roboto);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalise {
  text-transform: capitalize;
}

/* Buttons */

.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px var(--roboto);
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  box-shadow: var(--box-shadow);
}

.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after,
.button.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  content: " ";
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button {
  background: white;
  background-clip: padding-box;
  transition: background 0.6s ease;
}

.button.secondary-button:hover {
  background: var(--gradient-color);
  color: whitesmoke;
  box-shadow: var(--box-shadow);
}

p.para {
  color: var(--text-color);
  font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto {
  font-family: var(--roboto);
}

button:focus,
button:active button:hover .btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}

.title-h1 {
  font: normal bold 39px/ 40px var(--roboto);
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: background 1s ease;
}
/*End Global CSS*/

/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* end navigation */

/* Banner Area */

.site-title {
  margin-top: 25vh;
}

.site-main .site-banner .site-title h3 {
  margin-top: 50%;
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: " ";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

.site-text {
  font-style: italic;
  /* color: rgb(2, 246, 250); */
}

/* End Banner Area */

/* Start About Area */

.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/ 60px var(--roboto);
  letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}

p.about-text {
  font-size: large;
}

/* End About Area */

/* Services Area */

.site-main .services-area {
  padding: 7rem 2rem;
}

.site-main .services-area .services-title {
  padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main > .services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .services-area .services:hover {
  box-shadow: var(--box-shadow);
}

/* End Services Area */

/* Project Area */

.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: small-caps 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
.btn-href {
  position: relative;
  bottom: 40px;
  border-radius: 15px;
  background-color: #a5d8dd;
}

/* End Project Area */

/*Contact me*/

.containerr-fluid {
  background-color: #010449;
}

.msg-form {
  background-color: white;
  padding: 20px;
}

.pad-icon {
  padding-top: 50px;
  padding-left: 20px;
}

.pad-icon a {
  text-decoration: none;
  margin-right: 40px;
}

.input-group input:focus {
  border: 1px solid blue;
}

.pad-icon a:active {
  height: 30px;
  width: 30px;
  background-color: #0080ff;
  border-radius: 100%;
}

.links {
  padding-top: 50px;
  width: 50%;
}

#bordering a:active {
  border: 1px solid #0080ff;
}

/*End Contact me*/

@media (max-width: 412px) {
  .img-hide {
    display: none;
  }

  .about-title .about-text {
    margin-left: 50px;
  }

  .element-item {
    display: flex;
    justify-content: center;
  }
  .element-item1 {
    display: flex;
    justify-content: center;
  }

  #bordering {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 568px) {
  .containerr-fluid {
    margin: 100px 30px;
    width: 96%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 567px) {
  .containerr-fluid {
    margin: 10px 10px;
    width: 94%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pad {
    padding-top: 20px;
  }
}

@media (max-width: 980px) {
  .img-hide {
    display: none;
  }

  .about-title .about-text {
    margin-left: 50px;
  }

  .element-item {
    display: flex;
    justify-content: space-around;
  }
  .element-item1 {
    display: flex;
    justify-content: space-between;
  }
  #bordering {
    display: flex;
    flex-direction: column;
  }
}

/* End Contact me */

/* Footer Area */

footer.footer-area {
  padding: 5rem 0;
  background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5 {
  font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i {
  font-size: 27px;
  padding: 2rem;
  /* color: var(--social-media); */
  color: rgb(117, 107, 107);
}

footer.footer-area .social a:hover > i {
  color: var(--primary-color);
}

/* End Footer */
